@font-face {
  font-family: "Norse-bold";
  src:
    local('Norse-Bold'),
    url('./misc/Norse-Bold.woff'),
    url('./misc/Norse-Bold.woff2'),
    url('./misc/Norse-Bold.otf');
}

body {
  height: 100vh;
}

section {
  height: 100vh;
}

section.hero {
  flex: 1;
  display: flex;
  flex-direction: column;

  background-image: url('./img/fern.avif');
  background-position: center;
}

section.content {
  flex: 2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  
  color: white;
  font-family: 
    "Norse-bold", 
    system-ui, 
    -apple-system, 
    BlinkMacSystemFont, 
    sans-serif;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
  height: 2.5em;
}

body > .container {
  display: flex;
}

.hero .credit {
  margin-top: auto;
  margin-bottom: 20px;
  
  color: white;
  align-self: center;
}

.hero .credit a {
  color: white;
}

/* 
  Content
  =========
*/
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > .container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-evenly;
  height: 75%;
}